<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./src</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">./src</directory>
            <directory suffix="TestCases.php">./src</directory>
            <directory suffix="Factory.php">./src</directory>
            <directory>./src/Support/Webhooks/Subscriptions/Migrations</directory>
        </exclude>
    </source>
    <php>
        <env name="APP_KEY" value="base64:sqZsknu3DcUA1iUynaz3a6Rf4SslS3YoZ8Bal/JP8GQ=" />
        <env name="BCRYPT_ROUNDS" value="4" />
        <env name="CACHE_STORE" value="array" />
        <env name="QUEUE_CONNECTION" value="sync" />
        <env name="BROADCAST_CONNECTION" value="null" />
    </php>
</phpunit>
