services:
    -
        class: Tooling\Webhooks\PhpStan\SubscriptionMustRedeclareUseEloquentBuilder
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Webhooks\PhpStan\SubscriptionMustRedeclareUseFactory
        tags:
            - phpstan.rules.rule
